.main_body{
    text-align: center;
}
.about {
    background-color: #474e5d;
    color: white;
    padding: 15px;


}
ul  textarea{width: 100%;
border-radius: 0px;padding: 0px;
margin: 0px;}
 
ul input[type=text]{
  width: 80%;padding: 5px;
margin: 0px;
  margin-right: 2%;

  border-radius: 0px;
border: 0.1px dotted darkgray;
float: left;
}

input[type=text], [type=date] ,textarea,select{
width: 40%;
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: #f1f1f1;

}

@media only screen and (max-width: 1030px) {
  input[type=text], [type=date] ,textarea,select{
    width: 35%;
        padding: 10px 10px;
        margin: 5px;
        border: none;
        border-radius: 8px;
        background: #f1f1f1;
    
    } 
    
}
ul ul  {
  display: none;
}


.div1 {
    display: inline-flex;
    border: 1px solid grey;
    width: 50%;
    overflow-x: scroll;
    border-radius: 5px;
      
  }
  
  ul {
    width: 100%;
    margin: 0;
    padding: 1%;
    cursor: auto;
  }
  table{ 
    cursor: auto;
    width: 100%;
    padding: 1%;
    border-collapse: collapse;
   
  }
  table td{padding: 1%;  border: 1px solid #ddd;
  }

 ul li {
     text-align: left;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    border:0.1px dotted rgb(151, 151, 151);
    font-size: 16px;}
    
      ul li:hover {
        background: #ddd;
      }
      ul li.checked{         background: #f1f1f1;

      }
      ul li.checked >ul {
        display: block;
       border: 0.1px dotted darkgray;
        margin-top: 2%;
      } 
      
 
    ul li.checked >ul li {
      display: block;
     border: 0.1px dotted darkgray;
      margin-top: 2%;
      
      
  } 



.container {
  padding: 16px;
}
 ul .btn-link
 {float:right;}

 ul ul li{
  padding: 0px;
  margin: 0px;
  
 
 }
  ul ul li textarea{
padding: 2%;
margin: 0px;
background: #ddd;
border:  1px dotted darkgray ;
  
   }   
     
    
      
      /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
      
      /* Style the horizontal ruler */
      hr {margin-right: 60%;
        
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
       
   /* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

     